{% form_theme form 'SistemaCajaBundle:Form:lote_detalle.html.twig' %}


<div class=" control-group " id="caja_sistemacajabundle_registrotype_detalle_control_group">
    <div class="pull-right" style="width: 98%; margin-right: 5px;">
        {{ form_errors(form.detalle) }}
        {{ form_widget(form.detalle) }}

        <div class="clear"></div>
    </div>
</div>

{% form_theme form 'SistemaCajaBundle:Form:fields.html.twig' %}

{% include 'SistemaCajaBundle:Registro:_pagos.html.twig' %}

{{ form_rest(form) }}

<div class="clear"></div>
<div class="form-actions">
    <a id="PagarComprobantes"
       role="button" class="btn btn-primary" data-toggle="modal" style="display: none;">&nbsp;&nbsp;Pagar&nbsp;&nbsp;</a>
    <button class="btn" type="reset">Cancelar</button>
</div>

