{% form_theme form 'SistemaCajaBundle:Form:lote_detalle.html.twig' %}


<div class="pull-right" style="width: 98%; margin-right: 5px;">
{{ form_errors(form.detalle) }}
{{ form_widget(form.detalle) }}

<div class="clear"></div>
</div>

{#{% form_theme form 'SistemaCajaBundle:Form:fields.html.twig' %}#}

{% include 'SistemaCajaBundle:Registro:_pagos.html.twig' %}

{{ form_rest(form) }}

<div class="clear"></div>
<div class="form-actions" >
    <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">&nbsp;&nbsp;Pagar&nbsp;&nbsp;</a>
    <button class="btn" type="reset">Cancelar</button>
</div>



<script type="text/javascript">

    $('#load_indicador')
            .ajaxStart(function() {
                //$('body').append('"<div class="ajax_block"></div>');
                $(this).show();
            })
            .ajaxStop(function() {
                $(this).hide();
                $.unblockUI();
            });

    /**
     * @var dataBarra
     * variable para asignar el balor de data (coleccion de elementos)
     * que tiene el boton agregar (hidden)
     * ya que hay eventos al cual no se le puede pasar, y es nevesario acceder a este.
     */
    var dataBarra;

    $(document).ready(function(e){
        var $txtcodigoBarra = $("#txtcodigobarra");
        $txtcodigoBarra.focus();


        $txtcodigoBarra.change(function(e){
            var $msgBarra = $("#msgBarra");
            $barra = $(this);
            dataBarra="";

            $.blockUI({ message: null });

            cb = $barra.val().replace(/^\s*|\s*$/g,"");

            $msgBarra.text("");
            $("#masDetalleTemp").html("");

            if(cb.length <= 3){
                $barra.val('');
                $msgBarra.text("Codigo invalido"); //.show();
                setTimeout("$barra.focus()",100);
                $.unblockUI();
            }else{

                //Verificar que no este ya agregado en la tabla de comprobantes

               if(existeComprobante(cb)){
                   $barra.val('');
                   $msgBarra.text("El codigo de barra ya esta ingresado."); //.show();
                   setTimeout("$barra.focus()",100);
                   $.unblockUI();
               }else{

                    /***
                     * Peticion ajax
                     */
                    $.ajax({
                        url: "{{ path('registro_barra') }}",
                        data: { cb: cb  },
                        dataType: "json",
                        success: actDesdeCB,
                        error : function(jqXHR, status, error) {
                            alert('Disculpe, existió un problema: '+error);
                        }
                    });
               }
            }



        });

        /**
         * Boton oculto Agregar detalle
         * para agregar item en el comprobante
         * disparado por un trigger en el evento
         * change del codigo de barra.
         */

        $('body').on('click', '[data-coleccion-add-btn-det]', function (e) {
            var $btn = $(e.target);
            if (!$btn.hasClass('btn')) {
                $btn = $btn.closest('.btn');
            }
            $btn.coleccion({
                opcion: 'add',
                addpostfunc: postAddDetalle
            });
            e.preventDefault();
        });

        /**
         * Quitar - accion Click
         * Cuando el usuario presiona en el boton quitar
         * del detalle de comprobantes.
         */
        $('body').on('click', '[data-coleccion-remove-btn-det]', function ( e ) {
            var $btn = $(e.target);
            if (!$btn.hasClass('btn')){
                $btn = $btn.closest('.btn');
            }

            $btn.coleccion({
                opcion: 'remove',
                rempostfunc:postBorrarDetalle
            });
            e.preventDefault();
        });


    });


    /**
     * Evento que ocurre despues de borrar un elemento en Collection
     */
    postBorrarDetalle = function(){
        var $txtcodigoBarra = $("#txtcodigobarra");
        $txtcodigoBarra.val('');
        $txtcodigoBarra.show(50).focus();
        totalizaComprobante();

    };

    /**
     * Evento que se ejecuta al agregar un nuevo elemento al detalle
     * lo utilizo para actualizar los registros con los datos recibido
     * del server
     * @param data
     */
    postAddDetalle = function(row, index){
        $('#caja_sistemacajabundle_registrotype_detalle_'+index+'_codigo_barra').val(cb);
        $('#caja_sistemacajabundle_registrotype_detalle_'+index+'_comprobante').val(dataBarra.comprobante);
        $('#caja_sistemacajabundle_registrotype_detalle_'+index+'_fecha').val( dataBarra.vencimiento );
        $('#caja_sistemacajabundle_registrotype_detalle_'+index+'_importe').val(dataBarra.importe);

        totalizaComprobante();

        $('a.info-barra',row).attr('data-content',dataBarra.detalle);
        $("#masDetalleTemp").html(dataBarra.detalle);
        $('a.info-barra',row).popover({trigger: 'hover',html:true})
    };

    /**
     * Si se proceso correctamente la peticion ajax
     * del codigo de barra
     * @param data
     */
    actDesdeCB = function(data){
        $barra.val('');
        $barra.focus();
        if(data.ok == 1){
            /**
             * guardo data en databarra para acceder desde otros eventos
             */
            dataBarra = data;
            $btn = $('[data-coleccion-add-btn-det]','#caja_sistemacajabundle_registrotype_detalle');

            /**
             * Disparo el boton add para agregar el registro nuevo con los
             * datos del codigo de barra.
             */
            $btn.trigger("click");
        }else{
            $("#msgBarra").text(data.msg);
        }
    };

    /**
     * totalizaComprobante
     * Totaliza el detalle de comprobante, se
     * ejecuta este meodo cuando agrega o
     * cuando quita un elemento
     */

    totalizaComprobante = function(){
        var total = 0;
        $('input.importe','div#caja_sistemacajabundle_registrotype_detalle').each(function(){
           total = total + parseFloat( this.value );
        });
        $("#lote_detalle_total").text(formato_numero(total,2));
    }

    /**
     * existeComprobante
     *
     * Comprueba si el codigo de barra ingresado ya existe.
     *
     * @param $cdbarra
     * @return {Boolean}
     */
    existeComprobante = function($cdbarra){
        var existe = false;
        $('input.cbarra','div#caja_sistemacajabundle_registrotype_detalle').each(function(){
            if($cdbarra ==  this.value){
                existe = true;
            }
        }) ;

        return existe;

    }




</script>