<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/caja/web/img/Ayuda/http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<h1>ANULACIÓN DE UN COMPROBANTE</h1>

<p></p>

<figure>
<img src="/caja/web/img/Ayuda/anulacionppal.jpg">
</figure>

<p></p>

<h2>PASOS PARA REALIZAR LA ANULACIÓN DE UN COMPROBANTE</h2>

<p></p>

<p>1.- Ingresar mediante la lectura del código de barra del comprobante  o bien de manera manual (introduciendo los digitos del código de barra y apretando la tecla "Tab").</p>

<p></p>

<p>2.- Se listarán todos los comprobantes registrados pertenecientes al lote del comprobante ingresado por anular.</p>

<figure>
<img src="/caja/web/img/Ayuda/anulacionlista.jpg">
</figure>

<p>Por defecto el único comprobante seleccionado será el ingresado, pero podrán seleccionarse todos los comprobantes necesarios que se quieran anular. Posteriormente se debe hacer click en el botón <strong>"Anular Comprobantes".</strong></p>

<p></p>

<p>3.- El Sistema pedirá una confirmación de la operación.</p>

<figure>
<img src="/caja/web/img/Ayuda/anulacionconfirmacion.jpg">
</figure>

<p></p>

<p>4.- Se mostrará la pantalla principal de "Anulacion de Comprobantes" con una leyenda superior indicando el resultado de la operación realizada.</p>

<figure>
<img src="/caja/web/img/Ayuda/anulacionconfirmacion1.jpg">
</figure>

<p></p>

</body>
</html>
