<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<h1>Apertura de la Caja Municipal</h1>

<p></p>

<p>Las aperturas, son los contenedores de las transacciones de los pagos, o sea, cada pago está asociado a una apertura, y cada apaertura esta asociada a la caja activa.</p>

<p>Solo puede haber una apertura habilitada por caja. Una apertura habilitada, no posee fecha de cierre.</p>

<p>No se podrá crear otra apertura hasta que se cierre la que se encuentra activa.</p>

<p></p>

<figure>
<img src="apertura.jpg">
</figure>

<p></p>

<p>En la pantalla principal de la "Apertura", se indica un listado de las mismas, detallando el <strong>numero</strong>, <strong>fecha y hora de inicio y cierre </strong>de las aperturas, y el <strong>monto</strong> con la que se inicia.</p>

<h2> Pasos para realizar la Apertura</h2>

<p></p>

<p>Para realizar una nueva Apertura, se debe hacer click en el botón <strong>"Nueva apertura"</strong>, donde se desplegará una pantalla  en la que se muestra la fecha y hora (tomadas automaticamente) y el importe o monto con que se inicia dicha apertura, que por defecto siempre es 0.</p>

<p></p>

<figure>
<img src="apertura nuevo.jpg">
</figure>

<p></p>

<p>Posteriormente se hace click en el botón <strong>"Guardar"</strong>, donde se desplegará la lista de las aperturas existentes y la actual marcada como <strong>"Activa".</strong></p>

<p></p>

<figure>
<img src="nueva apertura.jpg">
</figure>

<p></p>

<h2>Modificar una Apertura</h2>

<p></p>

<p>Lo unico que se puede editar de una apertura, es el <em>"Importe inicial"</em>, mediante el botón <strong>"Modificar"</strong>, o bien, a traves del botón <strong>"Ver"</strong>, donde se despliega una pantalla con los detalles de la apertura y la opción de <strong>"Editar"</strong>.</p>

<p></p>

<h2>Reenviar Archivo de Cobranza</h2>

<p></p>

<p>Cuando se realiza un "Cierre de una Apertura", de manera automática se envia un archivo comprimido con todos los datos de las cobranzas realizadas a una cuenta configurada.</p>

<p>En el caso de ser necesario, se puede reenviar el mismo, haciendo click en el botón <strong>"Enviar Archivo"</strong></p>

<p></p>

<figure>
<img src="reenvio archivo cobranza.jpg">
</figure>

<p></p>

<p></p>

<p></p>

<p></p>

</body>
</html>
