<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/caja/web/img/Ayuda/http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<h1>Cierre de la Caja Municipal</h1>

<p></p>

<p>En la pantalla principal de "Cierre", se puede visualizar, un resumen detallado de los movimientos que realizó la caja.</p>

<p>Entre ellos se encuentra, el importe con que se inicio la apertura de la caja, el total de comprobantes correctos y anulados, y el monto total de lo cobrado y de los pagos anulados. Además, la fecha y hora de la apertura y la del cierre si se lleva a cabo.</p>

<figure>
<img src="/caja/web/img/Ayuda/cierreppal.jpg">
</figure>

<p></p>

<p>Para realizar el cierre, basta con hacer click en el botón "Guardar", en donde se generará  un archivo comprimido el cual se enviará a una cuenta configurada, se imprime  los detalles en el ticket y se cierra el ticket.</p>

<p>Posteriormente, se visualizará la pantalla de "Aperturas", en donde se visualizará la última apertura de Caja recien cerrada.</p>

<figure>
<img src="/caja/web/img/Ayuda/cierre.jpg">
</figure>

<p>Si se requiere, se podrá realizar reenvíos y reimpresiones sin requerir cierres (siempre que no exista una apertura). Para esto, se deberá hacer click en el botón "reenviar Archivo" desde la pantalla "Apertura".</p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

</body>
</html>
