<div data-prototype='html-de-´prototipo"  ' id='caja_sistemacajabundle_codigobarratype_vtos_importes_control_group' class=' control-group '>
    <legend>Vtos importes</legend>
        <a class='btn' data-collection-add-btn='#caja_sistemacajabundle_codigobarratype_vtos_importes_control_group'>
            <i class='icon-plus-sign '></i>   add email</a>
        <div class=' controls'>
            <div class='collection-item'>
                <div id='caja_sistemacajabundle_codigobarratype_vtos_importes_0_control_group' class=' control-group'>
                    <legend>0</legend>
                    <div class=' controls'>
                        <div id='caja_sistemacajabundle_codigobarratype_vtos_importes_0_vencimiento_control_group' class=' control-group'>
                            <label for='caja_sistemacajabundle_codigobarratype_vtos_importes_0_vencimiento' class=' control-label required'>
                                Vencimiento
                            </label>
                            <div class=' controls'>
                                <input type='text' id='caja_sistemacajabundle_codigobarratype_vtos_importes_0_vencimiento' name='caja_sistemacajabundle_codigobarratype[vtos_importes][0][vencimiento]' required='required' maxlength='64' style='width: 40px;' class='' value='1'>
                            </div>
                        </div>
                        <div id='caja_sistemacajabundle_codigobarratype_vtos_importes_0_importe_control_group' class=' control-group'><label for='caja_sistemacajabundle_codigobarratype_vtos_importes_0_importe' class=' control-label required'>
                            Importe
                        </label>
                        <div class=' controls'>
                            <input type='text' id='caja_sistemacajabundle_codigobarratype_vtos_importes_0_importe' name='caja_sistemacajabundle_codigobarratype[vtos_importes][0][importe]' required='required' maxlength='64' style='width: 40px;' class='' value='2'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='collection-item'><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_1_control_group' class=' control-group'><legend>1</legend><div class=' controls'><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_1_vencimiento_control_group' class=' control-group'><label for='caja_sistemacajabundle_codigobarratype_vtos_importes_1_vencimiento' class=' control-label required'>
    Vencimiento

</label><div class=' controls'><input type='text' id='caja_sistemacajabundle_codigobarratype_vtos_importes_1_vencimiento' name='caja_sistemacajabundle_codigobarratype[vtos_importes][1][vencimiento]' required='required' maxlength='64' style='width: 40px;' class='' value='1'></div></div><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_1_importe_control_group' class=' control-group'><label for='caja_sistemacajabundle_codigobarratype_vtos_importes_1_importe' class=' control-label required'>
    Importe

</label><div class=' controls'><input type='text' id='caja_sistemacajabundle_codigobarratype_vtos_importes_1_importe' name='caja_sistemacajabundle_codigobarratype[vtos_importes][1][importe]' required='required' maxlength='64' style='width: 40px;' class='' value='2'></div></div></div></div></div><div class='collection-item'><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_2_control_group' class=' control-group'><legend>2label__</legend><div class=' controls'><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_2_vencimiento_control_group' class=' control-group'><label for='caja_sistemacajabundle_codigobarratype_vtos_importes_2_vencimiento' class=' control-label required'>
    Vencimiento

</label><div class=' controls'><input type='text' id='caja_sistemacajabundle_codigobarratype_vtos_importes_2_vencimiento' name='caja_sistemacajabundle_codigobarratype[vtos_importes][2][vencimiento]' required='required' maxlength='64' style='width: 40px;' class=''></div></div><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_2_importe_control_group' class=' control-group'><label for='caja_sistemacajabundle_codigobarratype_vtos_importes_2_importe' class=' control-label required'>
    Importe

</label><div class=' controls'><input type='text' id='caja_sistemacajabundle_codigobarratype_vtos_importes_2_importe' name='caja_sistemacajabundle_codigobarratype[vtos_importes][2][importe]' required='required' maxlength='64' style='width: 40px;' class=''></div></div></div></div></div><div class='collection-item'><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_3_control_group' class=' control-group'><legend>3label__</legend><div class=' controls'><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_3_vencimiento_control_group' class=' control-group'><label for='caja_sistemacajabundle_codigobarratype_vtos_importes_3_vencimiento' class=' control-label required'>
    Vencimiento

</label><div class=' controls'><input type='text' id='caja_sistemacajabundle_codigobarratype_vtos_importes_3_vencimiento' name='caja_sistemacajabundle_codigobarratype[vtos_importes][3][vencimiento]' required='required' maxlength='64' style='width: 40px;' class=''></div></div><div id='caja_sistemacajabundle_codigobarratype_vtos_importes_3_importe_control_group' class=' control-group'><label for='caja_sistemacajabundle_codigobarratype_vtos_importes_3_importe' class=' control-label required'>
    Importe

</label><div class=' controls'><input type='text' id='caja_sistemacajabundle_codigobarratype_vtos_importes_3_importe' name='caja_sistemacajabundle_codigobarratype[vtos_importes][3][importe]' required='required' maxlength='64' style='width: 40px;' class=''></div></div></div></div></div></div></div>