
/*------------- Navegacion izquierda elemento seleccionado  -----------*/
#prov_inicio .container aside nav ul li:first-child,
#mod_monitor .container aside nav ul .monitor,
#mod_apertura .container aside nav ul .apertura,
#mod_cierre .container aside nav ul .cierre,
#mod_caja .container aside nav ul .caja,
#mod_codigobarra .container aside nav ul .codigobarra,
#mod_larparametro .container aside nav ul .larparametro,

#mod_usuario .container aside nav ul .usuario
{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#ef643e;background-image:-moz-linear-gradient(top, #ff764e, #d64926);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ff764e), to(#d64926));background-image:-webkit-linear-gradient(top, #ff764e, #d64926);background-image:-o-linear-gradient(top, #ff764e, #d64926);background-image:linear-gradient(to bottom, #ff764e, #d64926);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff764e', endColorstr='#ffd64926', GradientType=0);border-color:#d64926 #d64926 #95331a;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-top:1px solid #d27349;border-bottom:1px solid rgba(0, 0, 0, 0.9);}

/*------------- Navegacion izquierda hover  -----------*/
#prov_inicio .container aside nav ul li:first-child a:hover,
#mod_monitor .container aside nav ul .monitor a:hover,
#mod_apertura .container aside nav ul .apertura  a:hover,
#mod_apertura .container aside nav ul .cierre  a:hover,
#mod_caja .container aside nav ul .caja a:hover,
#mod_codigobarra .container aside nav ul .codigobarra a:hover,
#mod_larparametro .container aside nav ul .larparametro  a:hover,
#mod_usuario .container aside nav ul .usuario a:hover

{background-color: transparent  !important;}


/*---------- para detalle de codigo de barras ----*/
#caja_sistemacajabundle_codigobarratype_posiciones label.control-label
{
    text-align: center;
    font-weight: bold;
    float: none;
    padding: 0;
    width: inherit;
}
#caja_sistemacajabundle_codigobarratype_posiciones thead tr{
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 20px;

}

#caja_sistemacajabundle_codigobarratype_posiciones input[type="text"] ,
.control-group input[type="password"],
.control-group textarea {
    box-shadow: none;
    padding: 0px 0px;
}

#caja_sistemacajabundle_codigobarratype_posiciones input,
#caja_sistemacajabundle_codigobarratype_posiciones textarea,
#caja_sistemacajabundle_codigobarratype_posiciones .uneditable-input {
    width: 99%;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 2px;
    margin-left: 5px;
}
.caja_sistemacajabundle_codigobarratype_posiciones-posicion{
    width: 5%;
}
.caja_sistemacajabundle_codigobarratype_posiciones-longitud{
    width: 10%;
}

.caja_sistemacajabundle_codigobarratype_posiciones-descripcion{
    width: 20%;
}
.caja_sistemacajabundle_codigobarratype_posiciones-tabla
{
    width: 22%;
}

#caja_sistemacajabundle_codigobarratype_posiciones select{
    width: 87%;
}

#caja_sistemacajabundle_codigobarratype_posiciones td{
    padding: 1px 3px;
}