

.title_nav{
    font-size: 22px !important;
    /*font-weight: bold;*/
    color: #ececec!important;
    font-family: "Museo Slab",Georgia,"Times New Roman",Times,serif;
    text-shadow: 0 1px 1px #000000 !important;
}

.modal-header{
    /*background-color: #69807d;*/
    padding-top: 3px;
    padding-bottom: 3px;

}

.modal-header h3{
    color: #3c3c3c;
    font-size: 20px;
    margin: 0;
    margin-top: 2px;
    font-weight: 400;
}

.modal{
    width: 620px;
    background-color: #e9eff7;
}

.modal-body{
    background-color: #fafafa;
}


/*------------- Navegacion izquierda elemento seleccionado  -----------*/
#prov_inicio .container aside nav ul li:first-child,
#mod_monitor .container aside nav ul .monitor,
#mod_registro .container aside nav ul .registro,
#mod_apertura .container aside nav ul .apertura,
#mod_cierre .container aside nav ul .cierre,
#mod_caja .container aside nav ul .caja,
#mod_feriado .container aside nav ul .feriado,
#mod_responsable .container aside nav ul .responsable,
#mod_TipoPago .container aside nav ul .tipopago,
#mod_codigobarra .container aside nav ul .codigobarra,
#mod_larparametro .container aside nav ul .larparametro,

#mod_usuario .container aside nav ul .usuario
{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#ef643e;background-image:-moz-linear-gradient(top, #ff764e, #d64926);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ff764e), to(#d64926));background-image:-webkit-linear-gradient(top, #ff764e, #d64926);background-image:-o-linear-gradient(top, #ff764e, #d64926);background-image:linear-gradient(to bottom, #ff764e, #d64926);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff764e', endColorstr='#ffd64926', GradientType=0);border-color:#d64926 #d64926 #95331a;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-top:1px solid #d27349;border-bottom:1px solid rgba(0, 0, 0, 0.9);}

/*------------- Navegacion izquierda hover  -----------*/
#prov_inicio .container aside nav ul li:first-child a:hover,
#mod_monitor .container aside nav ul .monitor a:hover,
#mod_registro .container aside nav ul .registro a:hover,
#mod_apertura .container aside nav ul .apertura  a:hover,
#mod_apertura .container aside nav ul .cierre  a:hover,
#mod_caja .container aside nav ul .caja a:hover,
#mod_feriado .container aside nav ul .feriado a:hover,
#mod_responsable .container aside nav ul .responsable a:hover,
#mod_TipoPago .container aside nav ul .tipopago a:hover,
#mod_codigobarra .container aside nav ul .codigobarra a:hover,
#mod_larparametro .container aside nav ul .larparametro  a:hover,
#mod_usuario .container aside nav ul .usuario a:hover

{background-color: transparent  !important;}
/*----------- FIN LEFT NAV  -----------------*

/*---------- para detalle de codigo de barras ----*/
#caja_sistemacajabundle_codigobarratype_posiciones label.control-label
{
    text-align: center;
    font-weight: bold;
    float: none;
    padding: 0;
    width: inherit;
}
#caja_sistemacajabundle_codigobarratype_posiciones thead tr{
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 20px;

}


#caja_sistemacajabundle_codigobarratype_posiciones input,
#caja_sistemacajabundle_codigobarratype_posiciones textarea,
#caja_sistemacajabundle_codigobarratype_posiciones .uneditable-input {
    box-shadow: 0 0 0 2px #EEF0F2, 0 2px 2px #EEF0F2 inset;
    width: 92%;
    padding: 4px 3px;
}
.caja_sistemacajabundle_codigobarratype_posiciones-posicion{    width: 5%;}
.caja_sistemacajabundle_codigobarratype_posiciones-longitud{    width: 6%;}
.caja_sistemacajabundle_codigobarratype_posiciones-descripcion{ width: 28%;}
.caja_sistemacajabundle_codigobarratype_posiciones-tabla{       width: 28%;}
.caja_sistemacajabundle_codigobarratype_posiciones-estado{      width: 12%;}

#caja_sistemacajabundle_codigobarratype_posiciones select{
    width: 87%;
}

#caja_sistemacajabundle_codigobarratype_posiciones td{
    padding: 2px 5px;
    line-height: 32px;;
}

/*--- vtos importe de cod barra--*/
#caja_sistemacajabundle_codigobarratype_vtos_importes label.control-label
{
    text-align: center;
    font-weight: bold;
    float: none;
    padding: 0;
    width: inherit;
}
#caja_sistemacajabundle_codigobarratype_vtos_importes thead tr{
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 20px;

}

#caja_sistemacajabundle_codigobarratype_vtos_importes td{
    padding: 2px 5px;
    line-height: 32px;;
}


.caja_sistemacajabundle_codigobarratype_vtos_importes-orden{
    width: 5%;
}
.caja_sistemacajabundle_codigobarratype_vtos_importes-importe,
.caja_sistemacajabundle_codigobarratype_vtos_importes-vencimiento{
    width: 38%;
}

#caja_sistemacajabundle_codigobarratype_vtos_importes input,
#caja_sistemacajabundle_codigobarratype_vtos_importes textarea,
#caja_sistemacajabundle_codigobarratype_vtos_importes .uneditable-input {
    box-shadow: 0 0 0 2px #EEF0F2, 0 2px 2px #EEF0F2 inset;
    width: 98%;
    padding: 4px 3px;
}


/*---------- Pop Over ----------------*/
.popover-title {
    background-color: #F7F7F7;
    border-bottom-color: #EBEBEB;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
}
#form_CodigoBarra .popover{
    font-size: 90% !important;
    width: 50%;
}

#form_CodigoBarra .popover table{
    font-size: 90% !important;
}

.popover-content{
    color: #0d3349;
}

.popover-content h1, h2, h3, h4, h5, h6 {
    color: #434b4f;
}

/*----------------*/
#lar_parametrobundle_larparametrotype_tabla_padre_control_group{
    width: 51.4%;
}
/*----Parametro---------------*/

/*-------------------*/


/*---- Usuario form ----*/
      #foto img{
          width:  100%;
          /*height: 250px;*/
      }
/*---- Fin Usuario form ----*/

/*--------- registro ----------*/
div#caja_sistemacajabundle_registrotype_detalle tfoot tr{
    border-top: #2d3134 solid thin;
}

div#caja_sistemacajabundle_registrotype_detalle tfoot h2{
    color: #0d3349;
    font-size: 16px;
    padding-right: 10px;
    text-align: right;
    line-height: 20px;
}

#lote_detalle_total{
    color: #0d3349;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    line-height: 20px;
    padding-left: 5px;
    width: 206px;
    display: block;
}
#msgBarra{
    color: #ce4f17;
    font-size: 12px;

}
.importe{
    text-align: right;
}

.registro_detalle_barra{
    width: 100%;
}

#caja_sistemacajabundle_registrotype_detalle .popover{
    /*font-size: 100% !important;*/
    width: 500px;
}

#caja_sistemacajabundle_registrotype_detalle .popover table td{
    text-align: left;
}

.hapertura{
    font-size: 16px;
    color: #2a4456;
    font-weight: bold;
    margin-top: 8px;
}

.hapertura span{
    font-size: 20px;
    color: #0c5456;
}
#masDetalleTemp{
    color: #575757;
    font-size: 12px;
    line-height: 18px;
}

.ajax_block{
    width: 100%;
    background-color: Gray;
    moz-opacity: 0.5; //Filtro transparencia mozilla
    khtml-opacity: .5; //Filtro transparencia todos los navegadores
    opacity: .5; //Filtro transparencia CSS 3
    filter: alpha(opacity=50); //Filtro transparencia IE 8.0+
    z-index: 9998;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.clear{
    clear: both;
}

#mod_registro .form-horizontal .form-actions {
    padding-left: 680px;
}

#mod_registro table input
{
    line-height: 14px;
    height: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0 0 0 0 #EEF0F2, 0 0 0 #EEF0F2 ;
}

#mod_registro table select
{
    line-height: 22px;
    height: 23px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0 0 0 0 #EEF0F2, 0 0 0 #EEF0F2 ;
}

#mod_registro table td{
    vertical-align: top;
    height: 21px;

}

#PagoModal button.remove,
#PagoModal button.add_item

{
    display: none;
}


#PagoModal table{
    border-bottom: #69807d solid thin;
}

#PagoModal hr{
    margin: 0;
    padding: 0;
}

#PagoModal .coleccion_accion{
    display: none;
    width: 2px;
}


/*------- Tipo de pagos  -----*/
#mod_TipoPago p{
    margin: 8px 10px;
    font-size: 14px;
    color: #006dcc;

}

/*-----------Appler serial-----------------*/
#SerialLar{
visibility: hidden;
}
